.messages {
  width: 95%;
  margin: 10px 20px;
  border-radius: 4px;
  background-color: var(--secondary-color);
  box-shadow: 5px 10px var(--secondary-color-dark);
  color: var(--font-color-on-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.messages.close {
  visibility: hidden;
  animation: fadeOut 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.messages .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-important);
  background-color: var(--secondary-color);
  color: var(--font-color-on-secondary);
  border-radius: 4px;
}

.messages .header .title {
  font-size: var(--font-size-normal);
}

.messages .header .close {
  margin-right: 20px;
  cursor: pointer;
}

.messages .header .close:hover {
  transform: scale(1.2);
}
