.title {
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-normal);
  margin-left: 10px;
}

.container {
  text-align: center;
}

.table {
  table-layout: auto;
  border-collapse: collapse;
  border: 3px solid var(--primary-color-dark);
  margin: 0 auto;
}

.head_cell,
.cell {
  padding: 15px;
}

.head_cell {
  font-size: var(--font-size-normal);
  border-bottom: 3px solid var(--primary-color);
}

.cell {
  border-bottom: 1px solid var(--primary-color);
}

tr:hover {
  background-color: #ddd;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.button_icon {
  color: var(--primary-color-dark);
  cursor: pointer;
}
