{% extends "base.html" %} {% block content %}
<link
  href="{{ url_for('static', filename='css/table.css') }}"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<h1 class="title">Hello, {{ current_user.username }}</h1>
<div class="container">
<div style="overflow-x: auto;">
  <table class="table">
    <tr>
      <th class="head_cell">File name</th>
      <th class="head_cell">Upload date</th>
      <th class="head_cell">Size (in bytes)</th>
      <th class="head_cell">Hash</th>
      <th class="head_cell">Download</th>
      {% if current_user.can_delete %}
      <th class="head_cell">Delete</th>
      {% endif %}
    </tr>
    {% for file in files %}
    <tr>
      <td class="cell">{{ file.file_name }}</td>
      <td class="cell">{{ file.upload_date.strftime('%d-%m-%Y') }}</td>
      <td class="cell">{{ file.size }}</td>
      <td class="cell">{{ file.hash_sha }}</td>
      <div>
      <td class="cell">
        <span class="icons">
        <a class="button_icon" href="{{ url_for('download_file', filename=file.file_name) }}"
          ><span class="material-icons">cloud_download
          </span></a
        ></span>
      </td>
    </div>
      {% if current_user.can_delete %}
      <div>
        <td class="cell">
          <span class="icons">
            <a
              class="button_icon"
              href="{{ url_for('delete_file', filename=file.file_name) }}"
              ><span class="material-icons">delete</span>
              </span>
        </td>
      </div>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</div>
{% if next_url %}
<div>
  <span class="icons">
    <a class="pagination" href="{{ next_url }}">
      <span class="material-icons">arrow_left</span></a
    >
  </span>
{% endif %} {% if prev_url %}
  <span class="icons">
    <a class="pagination" href="{{ prev_url }}">
      <span class="material-icons">arrow_right</span></a
    >
  </span>
</div>
</div>
{% endif %} {% endblock %}
